
  .App{
    display: flex;
    flex-direction: column;
  }
  .header .Left a{
   font-size: 14px;
   font-weight: 500;
   text-decoration: none;
   color: white;
   transition: all .3s ease-out;
   display: flex;
   justify-content: center;
   align-items: center;
  }
  .header .Left a:hover{
color: rgb(118, 0, 228);
  }
  .logo{
    font-size: 20px;
    color: white;
  }
  span.ShopIcon{
    display: flex ;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        position: relative;
  }
  span.ShopIcon:hover{
    cursor: pointer;
  }
  span.ShopIcon svg{
   fill: white;
  }
  .countt{
    position: absolute;
    top: 4px;
    width: 18px;
    height: 18px;
    background-color: blueviolet;
    color: white;
    display: flex
;
    font-size: 9px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    left: 15px;
  }